# Dependency directories
node_modules/

# Environment variables (สำคัญมาก! ห้ามให้ไฟล์ .env หลุดขึ้น Git เด็ดขาด)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage

# Mac OS folder attributes (เผื่อมีคนใช้ Mac มาทำโปรเจกต์ด้วย)
.DS_Store